{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    The Name Game: Introduction
{% endblock %}

{% block content %}

<div style="font-size:20px">
	<br>
	<p>
    	You are about to play a game for which the goal is to use the same name for an object shown in a picture as your playing partners do. You have several partners within a larger group and will play with the partners one at a time, in a random order. When you match, you will both receive a reward ($0.50). If you don't match, you will be penalized ($0.25), unless you don't currently have positive total earnings. You will play for 25 rounds.
	</p>
	<br>
	<br>
	<br>    	
</div>
{% next_button %}
{% endblock %}