{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Instructions, Page 2 of 5
{% endblock %}

{% block content %}

<div style="font-size:20px">
	<br>
	<p>
    		In each round of the game, you are asked to name the object in a picture. The picture is the same for the whole game.
    	</p>
    	<br>
    	<p>
		If you and your partner submit the same name, you earn a reward of $0.50. If you pick different names, you lose $0.25. You can't have negative total rewards, however, and won't lose anything if you don't already have positive earnings.
	</p>
	<br>
	<br>
</div>
{% next_button %}
{% endblock %}