{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Instructions, Page 3 of 5
{% endblock %}

{% block content %}

<div style="font-size:20px">
	<br>
	<p>
		For each turn, you’ll see a screen like the one below. You’ll have 20 seconds to submit a name for the object in the picture. Type your choose in the box to the right of the picture and click send choice.
	</p>
	<br>
	<p>
		The time left to submit a name is displayed in the bar at the top of the page. Your last reward (or penalty) and total earnings are shown below the timer. A column on the right shows the results of the previous rounds. 
	</p>
	<br>
</div>
{% next_button %}
{% endblock %}