{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Instructions, Page 5 of 5
{% endblock %}

{% block content %}

<div style="font-size:20px">
	<br>
	<p>
		Once you have completed 25 rounds of the game, you will be given information about how to collect your payments.
	</p>
	<br>
	<br>
	<p> 
		Click <strong>Next</strong> button below to start the game. You'll be asked to wait while others finish reading the instructions.
	</p>
	<br>
</div>
{% next_button %}
{% endblock %}