{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Instructions, Page 1 of 5
{% endblock %}

{% block content %}

<div style="font-size:20px">
	<br>
	<p>
		You have been randomly assigned partners from a group to play a simple game with. You partners do not necessarily share all the same partners with you.
	</p>
	<br>
	<p>
		At the start of each turn, you will be randomly paired with one of your partners to play a round of the game. You will not know who you are playing and they won't know you either. You will play for 25 rounds.
	</p>
	<br>
	<br>	
</div>
{% next_button %}
{% endblock %}